body {
  background: linear-gradient(135deg, #faf9f8 0%, #eee9eb 100%);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  font-weight: 400;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(72, 88, 110, 0.06);
  border-radius: 16px;
  padding: 30px;
}

.temperature-container {
  color: #48586e;
  display: flex;
}

h1 {
  color: #48586e;
}

a {
  color: #70839d;
}
header {
  border-bottom: 1px solid #f1eeed;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f5f3f2;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #829fc4;
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  color: white;
  margin-left: 5px;
  box-shadow: 0 3px 8px rgba(130, 159, 196, 0.12);
}

.search-form-button:hover {
  background-color: #7892b3;
  cursor: pointer;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #6b7685;
  font-weight: 500;
}
.weather-app-details strong {
  color: #55667d;
  font-weight: 600;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: 600;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 8px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #6b7685;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #48586e;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #f1eeed;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #6b7685;
  font-weight: 500;
}
